.container-geral {
  display: flex;
  flex-direction: column;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 12px 0px rgb(238, 238, 238);
  width: 100%;
  height: var(--topbar-height);
  padding: 8px;
}

.container-resto {
  width: 100%;
  height: calc(100vh - var(--topbar-height));
  overflow: auto;
}

.logo {
  height: 45px;
  cursor: pointer;
}

.botao {
  width: fit-content;
  padding: 4px 12px;

  color: rgb(167, 235, 184);

  cursor: pointer;
  transition: 200ms all ease-in-out;
  font-weight: 500;
}

.botao-div:hover {
  box-shadow: 0px 4px 18px 2px var(--verdeco);
  background-color: var(--verdeco);

  font-size: 17px;
}

.botao-underline {
  width: 20px;
  height: 2.5px;

  margin: auto;

  background: rgb(167, 235, 184);
  border-radius: 9px;
}
