.input img {
  width: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 8px;

  box-shadow: 2px 4px 12px 2px rgb(238, 238, 238);
}

.login-title {
  color: rgb(167, 235, 184);
  font-size: 48px;
  font-weight: 700;
}

.login-underline {
  width: 61px;
  height: 6px;
  background: rgb(167, 235, 184);
  border-radius: 9px;
}

.formulario form {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  display: flex;
  align-items: center;
  width: 300px;
  height: 50px;

  box-shadow: 2px 4px 8px 2px rgb(238, 238, 238);
  border-radius: 4px;
}

.input img {
  margin: 0px 30px;
}

.input input {
  height: 50px;
  background: transparent;
  border: none;
  outline: none;

  color: #797979;
  font-size: 16px;
}

.entrar {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 50px;

  color: rgb(167, 235, 184);
  font-size: 22px;

  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.entrar:hover {
  box-shadow: 0px 4px 18px 2px var(--verdeco);
  background-color: var(--verdeco);
}

.erro-senha {
  color: red;
  text-align: center;
  align-items: center;
}
